#toolbar {
  background-color: #f2f4f4;
  border-radius: 5px;
  bottom: 0px;
  height: 100px;
  left: 15px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  top: 100px;
  width: 24px;
}
#container {
  bottom: 0px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 26px;
}
#importButton {
  background-color: #00bfa6;
  border: 2px dashed #00bfa6;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  left: 800px;
  letter-spacing: 2px;
  padding: 10px;
  position: absolute;
  top: 10px;
}

#querieButton {
  background-color: #00bfa6;
  border: 2px dashed #00bfa6;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  left: 895px;
  letter-spacing: 2px;
  padding: 10px;
  position: absolute;
  top: 10px;
}

#saveButton {
  background-color: #9c2ba7;
  border: 2px dashed #b500bf;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  left: 1000px;
  letter-spacing: 2px;
  padding: 10px;
  position: absolute;
  top: 10px;
}

#btnAtras {
  background-color: #f2f4f4;
  border: 2px solid #f2f4f4;
  border-radius: 5px;
  bottom: 0px;
  cursor: pointer;
  height: 35px;
  left: 15px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  top: 10px;
  width: 35px;
}

#btnAtras i {
  background-color: #f2f4f4;
  color: #17202a;
}

#ContainerSUP {
  background-color: #f2f4f4;
  border-radius: 5px;
  bottom: 0px;
  font-family: Verdana;
  height: 23px;
  left: 55px;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  width: 300px;
}
/*
#buttons {
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  width: 55px;
  left: 15px;
  top: 50px;
}*/
.btn-toolbar {
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  left: 15px;
  padding: 0.25rem;
  position: absolute;
  top: 50px;
}
/*
.btn-toolbar{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 87px;
  top: 50px;
}*/
#toolbar1 {
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  left: 15px;
  padding: 0.25rem;
  position: absolute;
  top: 50px;
}

#toolbar2 {
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  left: 87px;
  padding: 0.25rem;
  position: absolute;
  top: 50px;
}

#toolbar3 {
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  left: 190px;
  padding: 0.25rem;
  position: absolute;
  top: 50px;
}

#toolbar4 {
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  left: 267px;
  padding: 0.25rem;
  position: absolute;
  top: 50px;
}
