#toolbar {
  position: absolute;
  overflow: hidden;
  padding: 4px;
  left: 15px;
  top: 100px;
  width: 24px;
  bottom: 0px;
  background-color: #F2F4F4;
  border-radius: 5px;
  height: 100px;}
#container{
  position: absolute;
  overflow: hidden;
  left: 45px;
  top: 26px;
  right: 0px;
  bottom: 0px;
}
#importButton {
  position: absolute;
  left: 800px;
  top: 10px;
  background-color: #00BFA6;
  padding: 10px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
}

#querieButton{
  position: absolute;
  left: 895px;
  top: 10px;
  background-color: #00BFA6;
  padding: 10px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
}

#saveButton {
  position: absolute;
  left: 1000px;
  top: 10px;
  background-color: #9c2ba7;
  padding: 10px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #b500bf;
}

#btnAtras {
  position: absolute;
  overflow: hidden;
  padding: 4px;
  left: 15px;
  top: 10px;
  width: 35px;
  bottom: 0px;
  background-color: #F2F4F4;
  border-radius: 5px;
  border: 2px solid #F2F4F4;
  cursor: pointer;
  height: 35px;
}

#btnAtras i {
  color: #17202A;
  background-color: #F2F4F4;
}

#ContainerSUP {
  font-family: Verdana;
  position: absolute;
  overflow: hidden;
  padding: 5px 10px;
  left: 55px;
  top: 10px;
  width: 300px;
  bottom: 0px;
  background-color: #F2F4F4;
  border-radius: 5px;
  height: 23px;
}
/*
#buttons {
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  width: 55px;
  left: 15px;
  top: 50px;
}*/
.btn-toolbar{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 15px;
  top: 50px;
}
/*
.btn-toolbar{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 87px;
  top: 50px;
}*/
#toolbar1{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 15px;
  top: 50px;
}

#toolbar2{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 87px;
  top: 50px;
}

#toolbar3{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 190px;
  top: 50px;
}

#toolbar4{
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
  left: 267px;
  top: 50px;
}